{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row gutters-sm">
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{{ user.profile_image.url }}" alt="">
                    <div class="small font-italic text-muted mb-4">{{ user }}</div>
                    <div class="small font-italic text-muted mb-4">{{ user.email }}</div>
                </div>
            </div>
          <div class="card-body">
            <nav class="nav flex-column nav-pills nav-gap-y-1">
              <a href="{% url 'account:profile' user_id=user.id %}" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Edit Profile
              </a>

              <a href="{% url 'password_change' %}" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Change Password
              </a>

            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body tab-content">
            <div class="tab-pane active" id="profile">

              {% block profile_content %}

              {% endblock %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}