{% extends 'account/base_profile.html' %}

{% block profile_content %}
<h6>Change Password</h6>
<hr>
<div class="style-form">
    <form method="post">
        {% csrf_token %}     
        <div class="form-group">
          <input name="old_password" placeholder="Old password" type="password" required="true">
        </div>
        <div class="form-group">
          <input name="new_password1" placeholder="New password" type="password" required="true">
        </div>
        <div class="form-group">
          <input name="new_password2" placeholder="Confirm password" type="password" required="true">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update</button>
      </div>    
    </form>
</div>

{% endblock %}
