{% extends 'account/base_profile.html' %}

{% block content %}
<div class="style-form">
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Reset Password</h2>       
        <div class="form-group">
          <input name="email" placeholder="Email address" type="email" required="true" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send reset email</button>
        </div>        
    </form>
</div>

{% endblock %}
