{% extends 'account/base_profile.html' %}

{% block content %}
<div class="style-form">
  {% if validlink%}
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Change Password</h2>       
        <div class="form-group">
          <input name="new_password1" placeholder="New Password" type="password" required="true" >
        </div>
        <div class="form-group">
          <input name="new_password2" placeholder="Confirm Password" type="password" required="true" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>        
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
