{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Product</h1>
<div class="container">
    <div class="card product_data">
        <div class="card-body">
            <h3 class="card-title">{{ product.title }}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{ product.image.url }}" class="img-product"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" class="prodt_id">
                    <h4 class="box-title mt-1">Product description</h4>
                    <p class="product-description">{{ product.description }}</p>
                    <h2 class="mt-5">
                        <small class="text-success">${{ product.price }}</small>
                    </h2>
                    <button type="button" class="addToCartBtn btn btn-primary btn-rounded">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'main/js/cart.js' %}" type="text/javascript"></script>
{% endblock %}